<div class="page-content">

  @if (loading) {
    <app-loading-spinner message="Loading…" />
  } @else if (error) {
    <p class="error">{{ error }}</p>
  } @else {
    <div class="people-list">
      @for (person of people; track person.personId) {
        <app-person-card [person]="person" />
      }
      @empty {
        <p>No people found.</p>
      }
    </div>
  }

  <div class="page-actions">
    <div class="page-actions__inner">
      <div class="page-actions__secondary"></div>
        <div class="page-actions__primary">
          <a routerLink="/add-person">Add Person</a>
        </div>
    </div>
  </div>
</div>
