<div class="landing">
  <div class="landing__content">
    <img
      src="assets/StarGateLogoFull.png"
      alt="StarGate"
      class="landing__logo"
    />
    <p class="landing__tagline">
      Welcome to StartGate, the solution to all of your space mission management needs!
    </p>
  </div>

  <div class="page-actions">
    <div class="page-actions__inner">
      <div class="page-actions__secondary"></div>
      <div class="page-actions__primary">
        <a routerLink="/view-people">Blast Off!</a>
      </div>
    </div>
  </div>
</div>
